.top-page {
  background-color: rgb(156, 27, 27);
  margin: 0;
  padding: 0;
  border: 0;
  height: 100px;
  width: 100%;
  top: 0;

}

h1 {
  color: yellow;
  text-align: center;
  font-family: 'Staatliches', cursive;
  padding: 0px;
}

h2 {
  text-align: center;
  color: yellow;
}

h3 {
  color: yellow;
  font-size: 26px;
  text-align: center;
}

p {
  color: yellow;
  text-align: center;
  }

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 10px;
}

.main-background {
  background-color: black;
}



.myself {
    display:table;
    margin:0px auto 0px auto;
    color: yellow;
}

a {
  color: aqua;
}

.contact-info > a {
  display: inline-block;
  padding: 20px;  
  
}

.contact-info {
  text-align: center;
}


